<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@near-wallet-selector/modal-ui-js@8.7.2/styles.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/importMap.js"></script>
    <script async src="https://ga.jspm.io/npm:es-module-shims@1.10.0/dist/es-module-shims.js" crossorigin="anonymous"></script>
    <script type="module" src="/static/js/main.js"></script>
  </head>
  <body>
    {% include 'components/navbar.html' %}

    <div class="main-content">
      <h1>Welcome to NEAR Python Template</h1>
      <p>This is a starter template for building NEAR dApps with Python and Flask.</p>
    </div>

    {% include 'components/footer.html' %}
  </body>
</html>
